[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/death/Desktop/123]
row=5
col=0

[9400C16C00C155C0]
row=1
col=0

[28C6F1CDC6F19AF0]
row=0
col=0

[D652022D520212C3]
row=4
col=0

[回收站]
row=2
col=0

[/]
row=3
col=0

[/home/death]
row=0
col=1

